.uiux {
  width: 100%;
  padding: 100px 8%;
  background: #081120;
  /* background: #f8f1ff; */

  text-align: center;

  margin-top: 50px;
}

.uiux h1 {
  font-size: 48px;
  color: #f8f1ff;
  ;
  margin-bottom: 60px;
  font-weight: bold;
}

.uiux-container {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 25px;

  flex-wrap: wrap;
}

.mobile-ui {
  width: 120px;
  height: 250px;

  object-fit: cover;

  border-radius: 20px;

  background: white;

  border: 3px solid #d1d5db;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  transition: 0.4s;
}

.dashboard-ui {
  width: 340px;
  height: 190px;

  object-fit: cover;

  border-radius: 20px;

  border: 3px solid #d1d5db;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  transition: 0.4s;
}

.mobile-ui:hover,
.dashboard-ui:hover {

  transform: translateY(-10px) scale(1.03);

}